body{
    background: radial-gradient(silver,black);

}

.cart{
    background: radial-gradient(silver,black);
}

table{
    width: 100%;
    padding-top: 20px;
    text-align: center;
}
tr{
    width: 100%;
    background: linear-gradient(white,rgb(241, 125, 125));
}
.cartImg{
    height: 70px;
    width: 70px;
}